@font-face {
  font-family: generalFont;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: generalFontBold;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: generalFontMedium;
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: generalPoppinsMediumItalic;
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
}
