@font-face {
  font-family: generalFont;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: generalFontBold;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}