$main: #404242;
$second-color: #486958;
$white: #ffffff;
$active-color: #58A9A5;
$yellow: #FEC62D;
$black: #1C2323;
$bg-block: #CCF0E6;

body{
  font-family: generalFont;
  color: $main;
  font-size: 30px;
  line-height: 45px;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 142px 0 166px;
}

h1, h2, h3, .title{
  color: $black;
}

h1{
  font-family: generalFontBold;
  font-size: 70px;
  line-height: 105px;
  margin: 50px 0;
}

h2{
  margin: 20px 0;
}

h3{
  font-size: 40px;
  line-height: 60px;
  margin: 0 0 50px;
}

.title{
  font-family: generalFontBold;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
}
.subtitle{
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  margin: 0 auto 50px;
  width: 520px;
}

img{
  max-width: 100%;
}